<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Server Side Languages</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <% if(pagename=="Home") {%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color:yellow" href="/">Home</a>
                    <%}else{%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Home</a>
                    <%}%>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <% if(pagename=="About") {%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color:yellow" href="/About">About</a>
                    <%}else{%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/About">About</a>
                    <%}%>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <% if(pagename=="Register") {%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color:yellow" href="/Register">Register</a>
                    <%}else{%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/Register">Register</a>
                    <%}%>
                </li>
                <%if(typeof(sess)!="undefined" && sess.loggedin == true) {%>
                    <% if(pagename=="Profile") {%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="color:yellow" href="/profile">Profile</a>
                    <%}else{%>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/profile">Profile</a>
                    <%}%>
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">Logout</a>
                <%}%>
            </ul>
        </div>
    </div>
</nav>
<%if(typeof(sess)=="undefined" || sess.loggedin != true) {%>
    <div id="loginForm" style="z-index: 12;
    display: block;
    text-align: right;
    background-color: #333a40;
    margin-right: 0px;
    padding-right: 20px;
    color: gray;
    position: absolute;
    width: 155px;
    margin-top: 120px;
    padding-top: 5px;
    right: 0;
    border-radius: 10px;
    padding: 11px;
    font-size: 12px;
    text-align: center;">
        <h5>Login</h5>
        <form action="/login" method="POST">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" placeholder="password">
            <input type="submit">
        </form>
    </div>
<%}%>

<%if(typeof(errors)!="undefined"){%>
    <% for(var x in errors) {%>
        <div class="bg-primary text-white text-center d-flex align-items-center flex-column">
            <div class="container d-flex align-items-center flex-column" style="padding-top: 100px; position: absolute; z-index: 99;">
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 500px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong><%= errors[x] %></strong> 
                </div>
                <script>
                    $(".alert").alert();
                </script>
            </div>
        </div>
    <%}%>
<%}%>